<div class="text-field">
  <%= form.label :email %><br/>
  <%= form.email_field :email, placeholder: 'Enter your user name here' %>
</div>

<div class="text-field">
  <%= form.label :username, 'User Name' %><br/>
  <%= form.text_field :username, placeholder: 'Enter your user mail here' %>
</div>

<div class="password-field">
  <%= form.label :password %><br/>
  <%= form.password_field :password, placeholder: 'Enter your password here' %>
</div>
